¡Gracias por apuntarte! Cuando acudas al curso te daremos el certificado.
<br />
Si a última hora no puedes acudir, por favor envía un correo electrónico a
<span> info <span> @ gul <span>.
	</span>e<span>s</span>
</span></span> y cuéntanos qué es eso tan importante que te impide ir... :)