<h1>Editing pupil</h1>

<%= error_messages_for :pupil %>

<% form_for(@pupil) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @pupil %> |
<%= link_to 'Back', pupils_path %>
