<h1>Listing pupils</h1>

<table>
  <tr>
  </tr>

<% for pupil in @pupils %>
  <tr>
    <td><%= link_to 'Show', pupil %></td>
    <td><%= link_to 'Edit', edit_pupil_path(pupil) %></td>
    <td><%= link_to 'Destroy', pupil, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New pupil', new_pupil_path %>
